.frontend {
  &-background {
    position: relative;

    min-height: 100vh;

    background: url(../../assets/img/fe-logo.png) no-repeat (-10%) (-10%);
    background-size: 75%;
    &__overlay {
      z-index: 1;

      min-height: 100vh;

      background: linear-gradient(135deg, rgba($color-light, 0.4) 50%, rgba($color-secondary-1-1, 0.4) 100%);

      @include abs-position;
    }
  }
  &-container {
    position: absolute;
    z-index: 2;
    top: (11.1 * $gap);
    right: 0;
    bottom: 0;
    left: 0;

    max-width: 1200px;
    margin: auto;
    padding: $gap;
  }
  &-content {
    display: flex;
    flex-direction: column;

    width: 100%;

    color: $color-secondary-2-4;
    &__title {
      margin: 0 0 0 (1.25 * $gap);

      letter-spacing: 0.1em;
      text-transform: uppercase;

      text-shadow: 5px 5px 15px $color-light, 0 0 30px $color-light;

      font-family: $font-header;
      font-size: 5rem;
      font-weight: 300;
      span:nth-of-type(1) {
        font-size: 4rem;
      }
      strong {
        font-weight: 900;
      }
    }
    &__description {
      position: relative;

      display: flex;

      width: 100%;
      margin-top: (1.7 * $gap);
      margin-left: (19.4 * $gap);

      letter-spacing: 0.1em;
      text-transform: uppercase;

      text-shadow: 5px 5px 15px $color-light, 0 0 30px $color-light;

      font-family: $font-header;
      font-size: 3rem;
      font-weight: 700;
      span {
        display: block;
      }
    }
  }
  &-block {
    margin-top: (7.9 * $gap);
    padding: $gap;
    &__text {
      max-width: 750px;
      margin-left: (12.5 * $gap);

      text-shadow: 5px 5px 15px $color-light, 0 0 30px $color-light;

      font-size: 2rem;
      p {
        margin: 0;

        line-height: 1.5em;
      }
    }
  }
}
