.frontend {
  &-background {
    position: relative;
    min-height: 100vh;
    background: url(../../assets/img/fe-logo.png) no-repeat (-10%) (-10%);
    background-size: 75%;
    &__overlay {
      z-index: 1;
      min-height: 100vh;
      background: linear-gradient(130deg, rgba($color-light, 0.3) 0%, lighten(rgba($color-primary-1, 0.4), 25) 60%, lighten(rgba($color-primary-1, 0.8), 16) 100%);
      @include abs-position;
    }
  }
  &-container {
    z-index: 2;
    top: 288px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $color-secondary-2-4;
    &__title {
      margin: 0 0 0 25px;
      letter-spacing: 0.1em;
      text-shadow: 5px 5px 15px $color-light;
      font-family: $font-header;
      font-size: 5rem;
      span {
        font-weight: 300;
      }
      span:nth-of-type(3) {
        text-transform: uppercase;
      }
      strong {
        text-transform: uppercase;
        font-weight: 900;
      }
    }
    &__description {
      position: relative;
      display: flex;
      width: 100%;
      margin-top: 36px;
      margin-left: 389px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-shadow: 5px 5px 15px $color-light;
      font-family: $font-header;
      font-size: 3rem;
      font-weight: 700;
      span {
        display: block;
      }
    }
  }
  &-block {
    margin-top: 155px;
    padding: 20px;
    &__text {
      max-width: 750px;
      margin-left: 250px;
      font-size: 2rem;
      p {
        margin: 0;
        line-height: 1.5em;
      }
    }
  }
}