* {
  box-sizing: border-box;
}

html {
  margin: 0;

  color: $color-light;

  font-family: $font-main;
  font-size: $font-size;
}

body {
  overflow-x: hidden;
  @media (min-width: 1600px) {
    .not-responsive {
      display: none;
    }
  }
  @media (max-width: 1599px) {
    * {
      display: none !important;
    }
    .not-responsive {
      display: flex !important;
      align-items: center;

      height: 100vh;
      padding-right: 100px;
      padding-left: 100px;

      color: $color-secondary-2-4;

      font-size: 4rem;
    }
  }
}

a {
  text-decoration: none;

  color: $color-light;
}
