.footer {
  color: $color-secondary-2-1;
  background-color: $color-secondary-2-4;
  &-container {
    max-width: 1200px;
    margin: auto;
    padding: (5 * $gap) $gap;
  }
  &__list {
    display: flex;
    justify-content: center;

    font-size: 2rem;

    @include unlist;
  }
  &__item {
    margin-right: math.div($gap, 2);
    margin-left: math.div($gap, 2);
  }
  &__link {
    i {
      transition: 0.3s;

      color: $color-secondary-2-1;
      &:hover,
      &:focus {
        color: $color-light;
      }
    }
  }
  &__copyright {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: $gap;
    p {
      margin: 0;
    }
  }
}
