.header {
  &-nav {
    position: fixed;
    z-index: 100;
    top: 50%;
    right: 0;

    transform: translateY(-50%);
    &__list {
      @include unlist;
    }
    &__item {
      &.active {
        .header-nav__link {
          background-color: $color-primary-3;
        }
      }
    }
    &__link {
      display: block;

      padding: 12px 24px;

      transition: background-color 1s;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      opacity: 0.5;
      color: $color-light;
      background-color: rgba($color-secondary-2-1, 0.25);

      font-size: 1.5rem;
      font-weight: 100;
      &:hover,
      &:focus {
        opacity: 1;
        background-color: rgba($color-secondary-2-1, 0.5);
      }
    }
  }
}
