// Palette URL: http://paletton.com/#uid=7060u0kq9qJfXyXkVsTsulnxwgu */

$color-primary-0: #d53d27;	// Main Primary color */
$color-primary-1: #ff9180;
$color-primary-2: #e66450;
$color-primary-3: #aa2713;
$color-primary-4: #831200;

$color-secondary-1-0: #d57f27;	// Main Secondary color (1) */
$color-secondary-1-1: #ffc080;
$color-secondary-1-2: #e69c50;
$color-secondary-1-3: #aa5F13;
$color-secondary-1-4: #834200;

$color-secondary-2-0: #1c6d84;	// Main Secondary color (2) */
$color-secondary-2-1: #5796a7;
$color-secondary-2-2: #357b8f;
$color-secondary-2-3: #0f566a;
$color-secondary-2-4: #034052;

$color-complement-0: #1d9e44;	// Main Complement color */
$color-complement-1: #62c37f;
$color-complement-2: #3BAA5D;
$color-complement-3: #0e7e30;
$color-complement-4: #00611d;

$color-light: #ffffff;
$color-dark: #000000;
