/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header-nav {
  position: fixed;
  z-index: 100;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-nav__item a {
  display: block;
  padding: 12px 26px 12px 22px;
  text-align: center;
  background-color: rgba(87, 150, 167, 0.25);
  font-size: 1.5rem;
}

.header {
  position: relative;
}
.header-image {
  min-height: 100vh;
  padding: 76px 0 0 134.5px;
  background-image: url(../../assets/img/potential.jpg);
  background-position: 50% 80%;
  background-size: cover;
}
.header__title {
  margin: 0;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  font-size: 7rem;
}
.header__title span {
  display: block;
  font-weight: 100;
}
.header__title strong {
  font-size: 10rem;
}
.header-overlay {
  background-color: rgba(3, 64, 82, 0.4);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 20%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 20%, 0% 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-triangle {
  z-index: 2;
  background-color: rgba(213, 61, 39, 0.4);
  -webkit-clip-path: polygon(100% 20%, 0% 100%, 100% 80%);
          clip-path: polygon(100% 20%, 0% 100%, 100% 80%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-third {
  background-color: rgba(3, 64, 82, 0.4);
  -webkit-clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.html-background {
  position: relative;
  min-height: 100vh;
  background-image: url(../../assets/img/html5.jpg);
  background-position: center center;
  background-size: cover;
}
.html-background__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh;
  background-color: rgba(53, 123, 143, 0.8);
  z-index: 1;
}
.html-content {
  position: absolute;
  z-index: 2;
  top: 230px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.html-content__title {
  margin: 0;
  font-size: 5rem;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.html-content__title span {
  font-weight: 300;
}
.html-content__title strong {
  padding-left: 20px;
  font-weight: 900;
}
.html-content__description {
  margin-top: 36px;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.html-content__description span {
  display: block;
}