/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header-nav {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  z-index: 100;
}
.header-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-nav__item a {
  background-color: rgba(87, 150, 167, 0.25);
  text-align: center;
  display: block;
  font-size: 1.5rem;
  padding: 12px 26px 12px 22px;
}

.header {
  position: relative;
}
.header-image {
  min-height: 100vh;
  background-image: url(../../assets/img/potential.jpg);
  background-position: 50% 80%;
  background-size: cover;
  padding: 76px 0 0 134.5px;
}
.header__title {
  font-size: 7rem;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 0;
}
.header__title span {
  display: block;
  font-weight: 100;
}
.header__title strong {
  font-size: 10rem;
}
.header-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(3, 64, 82, 0.4);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 20%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 20%, 0% 100%);
}
.header-triangle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(213, 61, 39, 0.4);
  -webkit-clip-path: polygon(100% 20%, 0% 100%, 100% 80%);
          clip-path: polygon(100% 20%, 0% 100%, 100% 80%);
  z-index: 2;
}
.header-third {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(3, 64, 82, 0.4);
  -webkit-clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
}